extracted/app/data/xslt/TKhaiThue/xslt/BCHD/TKhai_BCHD_BC08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xs:schema xmlns="http://kekhaithue.gdt.gov.vn/TKhaiThue" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kekhaithue.gdt.gov.vn/TKhaiThue" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:redefine schemaLocation="../TKhaiThue.xsd">
		<xs:complexType name="CTieuTKhaiChinhType">
			<xs:complexContent>
				<xs:extension base="CTieuTKhaiChinhType">
					<xs:sequence>
						<xs:element name="TinhHinhSDAnChi">
							<xs:annotation>
								<xs:documentation>Bảng kê tình hình sử dụng ấn chỉ</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CTietTHinhSDAnChi" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ct2" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ký hiệu Chứng từ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct3" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tên ấn chỉ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct4" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Đơn vị tính</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct5" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tháng trước - Ở</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct6" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tháng trước - Ở</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct7" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Tháng trước - Tổng cộng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct8" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số nhập trong tháng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct9" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Tổng cộng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct10" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Số đã dùng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct11" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Số xóa bỏ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct12" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Thiếu hụt khi nhận ở cục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct13" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Tổn thất được thanh toán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct14" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Trả lại</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct15" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Số xuất trong tháng - Số hủy</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct16" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Còn lại cuối tháng - Ở chi cục</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct17" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Còn lại cuối tháng - Ở cán bộ</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct18" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Còn lại cuối tháng - Tổng cộng</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct19" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Còn lại cuối tháng - Trong đó tổn thất chưa thanh toán</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ct20" type="xs:string" nillable="true">
													<xs:annotation>
														<xs:documentation>Ghi chú</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="id" type="xs:string" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="nguoiDaiDien" type="xs:string" nillable="true">
							<xs:annotation>
								<xs:documentation>Người đại diện theo pháp luật</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ngayLapBCao" type="xs:date" nillable="true">
							<xs:annotation>
								<xs:documentation>Ngày báo cáo</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>
	<xs:complexType name="ChiTietHoaDonType">
		<xs:sequence>
			<xs:element name="mst" type="TINType" nillable="true">
				<xs:annotation>
					<xs:documentation>Mã số thuế tổ chức, cá nhân đặt in/sử dụng phần mềm tự in hoá đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ten" type="xs:string">
				<xs:annotation>
					<xs:documentation>Tên tổ chức, cá nhân đặt in/sử dụng phần mềm tự in hoá đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="diaChi" type="xs:string">
				<xs:annotation>
					<xs:documentation>Địa chỉ tổ chức, cá nhân đặt in/sử dụng phần mềm tự in hoá đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="so" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>Số hợp đồng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ngay" type="xs:date" nillable="true">
				<xs:annotation>
					<xs:documentation>Ngày hợp đồng</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenHDon" type="xs:string">
				<xs:annotation>
					<xs:documentation>Tên hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mauHDon" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ký hiệu mẫu hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kyHieu" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ký hiệu hóa đơn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tuSo" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Từ số</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denSo" type="xs:integer" nillable="true">
				<xs:annotation>
					<xs:documentation>Đến số</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soLuong" type="xs:nonNegativeInteger" nillable="true">
				<xs:annotation>
					<xs:documentation>Số lượng</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:element name="ChiTietHoaDon" type="ChiTietHoaDonType"/>
</xs:schema>
